.report-viewer-panel{
  overflow: auto;
}

.report-viewer-header{
  font-size: 20px;
  font-weight: bold;
}

.report-viewer-result{
  padding: 20px 20px 20px 20px;
}

.report-viewer-data{
  font-size: 19px;
}

#left-side-viewer-panel{
  background-color: green;
}

#right-side-viewer-panel{
  background-color: red
}