.Block {
    display: flex;
    align-items: center;
}

#Resizable {
    height: 100vh;
    width: 300px;
}

#Draggable {
    background: rgba(1, 1, 1, 0.2);
    cursor: col-resize;
    height: 100vh;
    width: 10px;
}

.workspace {
    background-color: #f1f1f1;
}

.brew-title-workspace {
    color: black
}

.title-header {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
}

.title-header-span {
    cursor: pointer;
}

.hr {
    width: auto;
    height: 0.1px;
    background-color: #666;
    margin-bottom: 10px;
}

.file-items {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.width-files-item{
    width: 100%;
}

.files div:hover {
    background-color: #ddd;
}

.icon-row {
    width: 2em;
}

.icon-folder {
    width: 1em;
    margin-right: 20px;
}

.icon-file {
    width: 0.75em;
    margin-right: 20px;;
}