.wrapper{
    position: fixed;
}

.sidebar {
    background: #f1f1f1;
    position: fixed;
    left: 0;
    width: 300px;
    height: calc(100% - 90px);
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.brew-footer {
    background-color: #504f4f;
    width: 300px;
    font-weight: bold;
}

.icon-back{
    cursor: pointer;
}

.footer-icon{
    margin-left: 10px;
}

.icon-folder {
    width: 1em;
}

.icon-file {
    width: 0.75em;
}

.brew-title-workspace{
    color:  black;
}

.side-align{
    margin-left: 15px;
}

.file-items{
    padding: 5px;
    cursor: pointer;
}

.files div:hover{
    background-color: #ddd;
}

.workspace-title{
    background-color: #504f4f;
    width: 300px;
    position: relative;
}

.workspace-title span{
    margin-left: 15px;
    font-weight: bold;
}

.sidepanel-container{
    padding-top: 43px;
}

.explorer{
    margin-right: 80px;
    cursor: pointer;
}

.new-folder{
    cursor: pointer;
}

.new-file{
    cursor: pointer;
}
