.body-container {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.535);
    overflow: auto;
}

.auth-section {
    position: relative;
    top: 30px;
}

.border-style {
    border-radius: 20px;
}

.brew-sm-title {
    font-weight: bold;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.side-align{
    margin-left: 15px;
}