body{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(9, 14, 44) 0%, rgb(18, 44, 105) 58.93%, rgb(7, 141, 179) 100%)
}

#root {
    height: 100vh;
    color: white;
    overflow: auto;
}

.test {
    border: 1px solid red;
}

.brew-label{
    font-weight: bold;
}

