.control-center-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: #504f4f;
    grid-auto-rows: minmax(100px, auto);
    border-left: 2px solid black;
}

.control-key-config {
    cursor: pointer;
    background-color:white;
    width: 150px;
    color: black;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.control-key {
    grid-column: 10;
    grid-row: 1;
}

.acting-keys-container {
    grid-column: 1;
    grid-row: 1;
}

.git-branch{
    padding: 2px;
    cursor: pointer;
    height: 20px;
    width: 150px;
    color: white;
    font-size: 14px;
}