.control-center-container {
    background-color: #504f4f;
    border-left: 2px solid black;
}

.control-key-config {
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(125, 122, 122);
    height: 20px;
    width: 150px;
    color: black;
    font-size: 12px;
}

.control-key{
    float: right;
    margin-right: 20px;
}