.content{
    color: white;
    overflow: auto;
    white-space: pre-wrap;
}

.panel-header{
    padding-top: 40px;
    background-color: rgb(40, 44, 52);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.bread-crumbs{
    overflow-x: auto;
}