.bottom-40{
    margin-top: '40px';
}

.body-container{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.535);
}

.side-align-right{
    margin-right: 10px;
}

.side-align-left{
    margin-left: 10px;
}

.bottom-down{
    margin-bottom: 20px;
}

.overFlow-Paramseditor{
    overflow: auto;
}

.align-right{
    position: absolute;
    right: 10px
}

.align-left{
    margin-right: 60px;
}