.sidepanel{
  background: #f1f1f1;
  position: absolute;
  left: 0;
  width: 300px;
  height: calc(100% - 43px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidepanel-title{
    background-color: #504f4f;
    width: 300px;
    position: relative;
}

.sidepanel-title span{
    font-weight: bold;
}

.sidepanel-explorer{
    cursor: pointer;
}

.side-panel-items{
  padding: 10px;
  cursor: pointer;
}

.sidepanel-files{
  background: #f1f1f1;
  position: absolute;
  left: 0;
  width: 300px;
  height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidepanel-files div:hover{
  background-color: #ddd;
}